{% extends "base.html" %}

{% block title %}Red Dragon Rising - Buy Weapon{% endblock %}

{% block content %}
    <h1>Mid World Weaponry - Buy Weapon</h1>
    <p>The shopkeeper leads you to a section of the store that displays weapons suited to your rank. He hands you a parchment that lists the items for sell.</p>
    <p>Take your pick.</p>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <div class="button-group">
        {% for item_id, weapon in weapons.items() %}
            <a href="{{ url_for('weapon_shop_bp.confirm_weapon_purchase', item_id=item_id) }}" class="button-link">{{ weapon.item_name }} ({{ weapon.cost }} gold)</a>
        {% endfor %}
        <a href="{{ url_for('weapon_shop_bp.weapon_shop') }}" class="button-link">Cancel</a>
    </div>
{% endblock %}
